[class*="col-"]{
    border: 1px solid white;
    min-height: 100px;
}


.ms-bg-green{
    background-color: #1abc9c;
}

.col-12 img{
    max-width: 200px;
}


.content-col img{
    max-width: 100%;
    border-radius: 1.5rem;
}


.ms-block{
    border: 1px solid white;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 10%;
}
