[class*="col-"]{
    border: 1px solid black;
    min-height: 100px;
    
}

.ms-bg-green{
    background-color: #1abc9c;
}

.col-12 img{
    max-width: 200px;
}


.content-col img{
    max-width: 100%;
    border-radius: 1.5rem;
}


.border-left  {
    width: 5rem;
    border-bottom: 5px solid ;
    border-radius: 1rem;
}

.border-right    {
    width: 5rem;
    border-bottom: 5px solid;
    border-radius: 1rem;
}

.fa-star{
    font-size: 2rem;
    margin: 0 0.4rem;
}

.fa-facebook, .fa-google-plus-g, .fa-twitter, .fa-linkedin{
    font-size: 2rem;
    margin: 0 0.5rem;
}

button{
    /* width: 5rem; */
    border-radius: 1rem;
    border: 1px solid white;
}

.ms-bg-black{
    background-color: #2c3e50;
} 

.ms-bg-light-black{
    background-color: #3a546d;
}