/* Breakpoint */
/* 
X-Small 	<576px

Small	sm	≥576px

Medium	md	≥768px

Large	lg	≥992px
*/


/* navbar */
.ms-nav-bg{
    background-color: #2c3e50;
}

.ms-nav{
    min-height: 100px;
}


/* jumbo */
.ms-bg-green{
    background-color: #1abc9c;
}

.col-12 .jumbo img {
    max-width: 300px;
}

.content-col img {
    max-width: 100%;
    border-radius: 1.5rem;
}

/* portfolio */
/* overlay */
.img-box-overlay {
    position: relative;
    width: 100%;
}

.image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 1.5rem;
    transition: 1s ease;
}

.img-box-overlay:hover .overlay {
    opacity: 0.5;
    background-color: black;
}

.icon {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-box-overlay :hover .icon{
    animation: movement 3s linear;
}

@keyframes movement{
    0%{
        left: 5%; 
        top: 90%;
    }

    25%{
        left: 95%;
        top: 90%;        
    }

    50%{
        left: 95%;
        top: 10%;
    }

    75%{
        top: 10%;
        left: 5%;
    }

    100%{
        left: 50%;
        top: 50%;        
    }
}

/* about */
#about a {
    display: block;
    text-align: center;
    margin-top: 3rem;
}

#about button {
    font-size: 1.3rem;
}

/* icons */
.fa-star {
    font-size: 2rem;
    margin: 0 1rem;
}

.border-left  {
    width: 6rem;
    border-bottom: 5px solid ;
    border-radius: 1rem;
}

.border-right {
    width: 6rem;
    border-bottom: 5px solid;
    border-radius: 1rem;
}

.fa-facebook, .fa-google-plus-g,
.fa-twitter, .fa-linkedin{
    font-size: 30px;
    height: 30px;
    margin: 0 0.5rem;   
}


/* form input */
input[type="text"],
input[type="email"],
input[type="text"]{
    border-right: none;
    border-top: none;
    border-left: none;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 2rem;
}

textarea{
    border-right: none;
    border-top: none;
    border-left: none;
    width: 100%;
    margin-bottom: 1rem;
}

/* footer */
.ms-bg-footer{
    background-color: #3a546d;
}